* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.side-bar {
    width: 15%;
    background-color: #CE3D3D;
    height: 100%;
    position: fixed;
    overflow: hidden;
    transition: 0.1s;
}

.side-bar label#icon {
    color: #fff;
    font-size: 30px;
    float: left;
    position: absolute;
    display: none;
    line-height: 80px;
    margin: 0 10px;
    cursor: pointer;
}

.side-bar div.logo {
    display: flex;
    height: 120px;
    border-bottom: 5px solid #000000;
    justify-content: center;
    align-items: center;
}

.side-bar div.logo img {
    width: 180px;
}

.side-bar #side-bar-links {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.side-bar #side-bar-links ul {
    width: 100%;
}

.side-bar #side-bar-links ul li {
    list-style: none;
    padding: 12px;
    width: 100%;
    margin-top: 2px;
}

.side-bar #side-bar-links ul li i {
    color: #fff;
    margin-right: 15px;
}

.side-bar #side-bar-links ul li.active {
    background-color: #CE3D3D;
    border-left: 5px solid #fff;
}

.side-bar #side-bar-links ul li:hover {
    background-color: #CE3D3D;
}

.side-bar #side-bar-links ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

.side-bar footer {
    padding: 10px;
    position: relative;
    top: 5%;
}

.side-bar footer a {
    text-decoration: none;
    color: #fff;
    font-size: 12px;
}

.side-bar footer a:hover {
    text-decoration: underline;
}


@media (max-width: 1024px) {
    .side-bar  {
        width: 100%;
        height: 80px;
    }
    .side-bar label#icon {
        display: block;
    }
    .side-bar div.logo {
        height: 80px;
    }
    .side-bar #side-bar-links {
        display: none;
    }
    .side-bar footer {
        display: none;
    }

    .side-bar #side-bar-links ul li:hover {
        background-color: #CE3D3D;
    }

    nav.show {
        height: 100%;
    }

    .side-bar #side-bar-links.show {
        display: block;
    }

    .side-bar footer.show {
        display: block;
    }

    
    
}