
.CourseDetailMainDiv {
    background-color: white;
    display: block;
    position: absolute;
    /* left: 15%; */
    /* border: 2px solid red; */
    width: 98%;
    height: 100vh;
    overflow: hidden auto;
    animation: right-to-left 0.5s ease-in forwards;
    /* transform: translateX(100%); */
    /* transition: transform 1s linear; */
}

@keyframes right-to-left {

    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(2%);
    }
    
}

.HighlightOffsharp {
    position: static;
    margin-top: 2%;
    cursor: pointer;
}

.HighlightOffsharp:hover {
    color: #b14242;
}

.upperCourseContainer {
    width: 100%;
    border-bottom: 1px solid #acacac;
    height: 50px;
    position: relative;
    text-align: left;
}

.upperCourseContainer > h3 {
    line-height: 20px;
    position: absolute;
    display: block;
    margin: -2.5rem 0 0 3rem;
    font-size: 14px;
    font-weight: 100;
}

.upperCourseContainer > h1 {
    line-height: 20px;
    position: absolute;
    display: block;
    margin: -0.2rem 0 0 2.5rem;
    font-weight: 400;
    text-transform: uppercase;
}

.CourseTeacherContainer {
    width: 100%;
    border-bottom: 4px solid #89f3db;
    border-top: 4px solid #d8d6d6;
    height: 120px;
    position: relative;
    text-align: left;
    margin-top: 2.5rem;
    /* border: 1px solid red;; */
}

.TeacherAvtarImage {
    position: absolute;
    width: 120px;
    border-radius: 50%;
    border: 7px solid #fff;
    margin: 1rem 2rem;
    transition: border-color 0.5s ease-out;
}

.TeacherAvtarImage:hover {
    border-color: #c211c2;
    cursor: pointer;
}

.CourseTeacherContainer > h2 {
    line-height: 20px;
    position: absolute;
    display: block;
    margin: 2.8rem 11rem;
    font-size: 18px;
    font-weight: bolder;
    cursor: pointer;
}

.CourseTeacherContainer > h3 {
    line-height: 20px;
    position: absolute;
    display: block;
    margin: 4rem 11rem;
    font-size: 16px;
    font-weight: 100;    
}

.courseClassOptionsContainer {
    /* border: 1px solid red; */
    width: 100%;
    height: 61.9%;
    /* height: 100vh; */
    position: relative;
}

.DetailActionContainer {
    /* border: 1px solid green; */
    width: 26%;
    height: 80%;
    margin: 2rem 2rem;
}

.DetailActionContainer > h2 {
    line-height: 20px;
    position: absolute;
    display: block;
    margin-top: 1rem;
    font-size: 18px;
    font-weight: 600;
}

.DetailActionContainer .HorizontalHR {
    position: absolute;
    margin-top: 3rem;
    width: 20rem;
    color: #c5c5c5;
    opacity: 0.5;
}

.DetailActionContainer .VerticalHR {
    position: absolute;
    margin-left: 22rem;
    height: 60%;
    color: #c5c5c5;
    opacity: 0.5;
}

.activitiesContainer {
    position: absolute;
    margin: 2.8rem 0;
    /* border: 1px solid blue; */
}

.activitiesContainer ul {
    width: 100%;
}

.activitiesContainer ul li {
    list-style: none;
    padding-top: 18px;
    width: 100%;
    margin-top: 2px;
}

.activitiesContainer ul li i {
    color: #acacac;
    margin-right: 15px;
}

.activitiesContainer ul li a {
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    font-weight: 600;
}

.BlackboardCollaborate {
    font-size: 16px;
    color: #000000;
    font-weight: 600;
}

.courseContentContainer {
    /* border: 1px solid black; */
    position: absolute;
    width: 63%;
    margin-left: 25.5%;
    height: 80%;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.courseContentContainer h2 {
    line-height: 20px;
    position: absolute;
    display: block;
    margin-top: 1rem;
    font-size: 18px;
    font-weight: 600;
}

.courseContentContainer .HorizontalHR {
    width: 100%;
}

.contentContainer {
    display: flex;
    position: relative;
    text-align: center;
    justify-content: center;
}

.contentContainer img {
    width: 200px;
    margin-top: 5rem;
}

.contentContainer h2 {
    margin-top: 15rem;
}

.QuizContainer {
    position: absolute;
    /* border: 1px solid red; */
    width: 100%;
    height: 20%;
    display: block;
    top: 20%;
    box-shadow: 1px 1px 8px #000000;
    border-radius: 8px;
}

.QuizContainer .Quiz {
    position: absolute;
    display: flex;
}

.QuizContainer .Quiz img {
    width: 60px;
    margin-top: 10%
}

.QuizContainer .Quiz a {
    text-decoration: none;
    color: #000000;
    margin-top: 15%;
    margin-left: 15%;
    font-size: 26px;
}